export OCI_COMPARTMENT_ID="ocid1.tenancy.oc1..xxxxxx"
export OCI_SUBNET_ID="ocid1.subnet.oc1.iad.xxxxxx"
export OCI_IMAGE_ID="ocid1.image.oc1.iad.xxxxxx"
export OCI_AVAILABILITY_DOMAINS="mdcY:US-ASHBURN-AD-1,mdcY:US-ASHBURN-AD-2,mdcY:US-ASHBURN-AD-3"
export OCI_INSTANCE_NAME="my-arm-instance"
export OCI_OCPUS="2"
export OCI_MEMORY_GB="12"
export OCI_RETRY_INTERVAL_SECONDS="300"
export OCI_SSH_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2E... your public key here"